{% load static %}
{% load  customTemplates %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'foods.css' %}">
    <title>Title</title>
</head>
<body style="background-image: url('{% static '/img/bg1.png' %}')">
<div class="back">
    <div>
        <a href="{% url 'main'%}">
            <img src="{% static 'img/vector.png' %}" alt="">
        </a>
    </div>
    <div>
        <a href="{% url 'main'%}">
            <div>Назад</div>
        </a>
    </div>
</div>
<div class="content" align="center">
    <table>
        {% for object in objects %}
            {% cycle '<tr>' '' '' '' %}
                <td>
                    <div class="card">
                        <div>
                            <img src="{% static ''%}{{ object.picture }}" alt="">
                        </div>
                        <div class="op">
                            <div class="name">{{ object.name }}</div>
                            <div class="description">{{ object.describe }}</div>
                            <div class="pricee">
                                <div class="price">{{ object.price }}</div>
                            </div>
                        </div>
                    </div>
                </td>
            {% cycle '' '' '' '</tr>' %}
        {% endfor %}
    </table>
</div>
<div>
    <div align="center">
        <table>
            <tr>
                <td><div class="korzina" style="margin: 20px"><button>Заказать</button></div></td>
                <td>
                    <div class="korzina" style="margin: 20px">
                        <form action="{% url 'sbross' %}">
                            <button type="submit">Сбросить</button>
                        </form>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>